@font-face {
    font-family: 'museoSans';
    src: url(../fonts/MuseoSans_500.otf);
}
@font-face {
    font-family: 'museoSans bold';
    src: url(../fonts/MuseoSans_700.otf);
}
@font-face {
    font-family: 'museoSans light';
    src: url(../fonts/MuseoSans_300.otf);
}
:root{
    --primaryColor: #00A19C;
}
*{
    font-family: 'museoSans';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    margin: auto 0;
    padding: 1.25em;
}
h4{
    font-size: 2.25em;
    color: var(--primaryColor);
    font-weight: normal;
}
h5{
    font-size: 1.85em;
    color: var(--primaryColor);
    font-weight: normal;
}
header{
    background: #00A19C;
    padding: 1.5em 2.625em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.header-top-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header-top-bar div:nth-child(2){
    place-self: center;
}
.logo{
    display: block;
}
.logo img{
    max-width: 100%;
}
.header-bottom-logo{
    width: 61.675%;
}

.welcome{
    font-size: 3.5em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
}
.game-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primaryColor);
    border-radius: 3.15em 0 3.15em 0;
    text-align: center;
    padding: 1em 0;
    height: 100%;
}
.game-btn img{
    width: 75%;
}
.configure-btn{
    padding: 10px 20px;
    border: 2px solid var(--primaryColor);
    border-radius: 0 1.25em 0 1.25em;
    font-size: 1.75em;
    color: var(--primaryColor);
    text-decoration: none;
    font-family: 'museoSans bold';
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.configure-btn img{
    width: 1.25em;
}
.order-6 {
    order: 6 !important;
}
footer{
    margin-top: 1em;
}
.footer-line{
    font-size: 2.05em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    margin: 1em 0;
}
.back-btn{
    padding: 10px 20px;
    background: white;
    border-radius: 1.25em 0 1.25em 0;
    border: none;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    font-size: 1.25em;
}
.game-logo-header{
    width: 45%;
}
.qr-code-outer{
    padding: 0.95em;
    border-radius: 1.55em 0 1.55em 0;
    border: 3px solid var(--primaryColor);
}
.join-container{
    border-bottom: 3px solid var(--primaryColor);
    padding: 2em;
}
.player-names{
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}
.player-names .name{
    font-size: 1.85em;
    padding: 0.35em 0.85em;
    border-radius: 0.75em 0 0.75em 0;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    font-family: 'museoSans bold';
}
.play-btn{
    font-size: 2.25em;
    background: var(--primaryColor);
    color: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.code-form h4{
    font-family: 'museoSans bold';
}
.code-form label{
    font-family: 'museoSans bold';
    font-size: 1.75em;
    color: var(--primaryColor);
}
.code-form input{
    font-size: 2.25em;
    width: 100%;
    border-radius: 25rem;
    border: none;
    background: white;
    border: 2px solid var(--primaryColor);
    padding: 0.4em 1.4em;
    text-align: center;
    color: var(--primaryColor);
}
.join-btn{
    font-size: 2.25em;
    background: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    background: var(--primaryColor);
    isolation: isolate;
    position: relative;
    z-index: 1;
    color: white;
}
.join-btn::before{
    content: "Join";
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    border: 2px solid var(--primaryColor);
    top: -5%;
    left: 3%;
    z-index: 5;
    height: 100%;
    width: 100%;
    border-radius: 25rem;
}
.color-bg{
    background-color: var( --primaryColor);
}
.color-bg header{
    box-shadow: unset;
}
.color-bg h4{
    color: white;
}
.color-bg label{
    color: white;
}
.color-bg .join-btn{
    color: var(--primaryColor);
    background-color: white;
}
.color-bg .join-btn::before{
    color: white;
    border-color: white;
    background-color: var(--primaryColor);
}
.game-container{
    background: #F5F5F5;
    border-radius: 2.25em 0 2.25em 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
    padding: 3em 2em;
}
.game-time{
    font-size: 2.25em;
    color: var(--primaryColor);
    text-align: center;
}
.social{
    background: #FDB924;
    border-radius: 1.75em 0 1.75em 0;
    padding: 0.75em 2em;
    color: #414141;
    text-align: center;
    box-shadow: 1px 3px 4px rgba(0, 47, 46, 0.15) inset;
}
.social h5{
    color: #414141;
    font-family: 'museoSans bold';
    font-weight: 900;
    margin: 0;
}
.social p{
    margin: 0;
    font-size: 1.15em;
}
.game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 1.55em;
    column-gap: 0.5em;
}
.game span{
    aspect-ratio: 1/0.75;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    box-shadow: 1px 3px 4px rgba(0, 47, 46, 0.15) inset;
    border-radius: 1.55em 0 1.55em 0;
    width: 100%;
    background-color: white;
    transition: all .3s;
    cursor: pointer;
}
.game span.active{
    background-color: var(--primaryColor);
    color: white;
}
.game-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    margin-top: 2em;
}
.game-btns button{
    font-size: 1.25em;
    background: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    background: var(--primaryColor);
    isolation: isolate;
    position: relative;
    z-index: 1;
    color: white;
}
.game-btns button::before{
    content: "Deselect All";
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    border: 2px solid var(--primaryColor);
    top: -5%;
    left: 3%;
    z-index: 5;
    height: 100%;
    width: 100%;
    border-radius: 25rem;
}
.game-btns .submit-btn::before{
    content: 'Submit';
}
@media (min-width: 992px) {
    .order-lg-6 {
        order: 6 !important;
    }
}
@media (max-width: 991px) {
    body{
        font-size: 12px;
    }
    .order-lg-6 {
        order: 6 !important;
    }
    header{
        padding: 1.25em 1.625em;
    }
}