@font-face {
    font-family: 'museoSans';
    src: url(../fonts/MuseoSans_500.otf);
}
@font-face {
    font-family: 'museoSans bold';
    src: url(../fonts/MuseoSans_700.otf);
}
@font-face {
    font-family: 'museoSans light';
    src: url(../fonts/MuseoSans_300.otf);
}
:root{
    --primaryColor: #00A19C;
}
*{
    font-family: 'museoSans';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    margin: auto 0;
    padding: 1.25em;
}
h1{
    color: var(--primaryColor);
    font-size: 3.15em;
    font-family: 'museoSans bold';
}
h4{
    font-size: 2.25em;
    color: var(--primaryColor);
    font-weight: normal;
}
h5{
    font-size: 1.85em;
    color: var(--primaryColor);
    font-weight: normal;
}
header{
    background: #00A19C;
    padding: 1.5em 2.625em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.header-top-bar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header-top-bar div:nth-child(2){
    place-self: center;
}
.logo{
    display: block;
}
.logo img{
    max-width: 100%;
}
.header-bottom-logo{
    width: 61.675%;
}

.welcome{
    font-size: 3.5em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
}
.game-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primaryColor);
    border-radius: 3.15em 0 3.15em 0;
    text-align: center;
    padding: 1em 0;
    height: 100%;
}
.game-btn img{
    width: 75%;
}
.configure-btn{
    padding: 10px 20px;
    border: 2px solid var(--primaryColor);
    border-radius: 0 1.25em 0 1.25em;
    font-size: 1.75em;
    color: var(--primaryColor);
    text-decoration: none;
    font-family: 'museoSans bold';
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.configure-btn img{
    width: 1.25em;
}
.order-6 {
    order: 6 !important;
}
footer{
    margin-top: 1em;
}
.footer-line{
    font-size: 2.05em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    margin: 1em 0;
}
.back-btn{
    padding: 10px 20px;
    background: white;
    border-radius: 1.25em 0 1.25em 0;
    border: none;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    font-size: 1.25em;
}
.game-logo-header{
    width: 45%;
}
.qr-code-outer{
    padding: 0.95em;
    border-radius: 1.55em 0 1.55em 0;
    border: 3px solid var(--primaryColor);
}
.join-container{
    border-bottom: 3px solid var(--primaryColor);
    padding: 2em;
}
.player-names{
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}
.player-names .name{
    font-size: 1.85em;
    padding: 0.35em 0.85em;
    border-radius: 0.75em 0 0.75em 0;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    font-family: 'museoSans bold';
}
.play-btn{
    font-size: 2.25em;
    background: var(--primaryColor);
    color: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.code-form h4{
    font-family: 'museoSans bold';
}
.code-form label{
    font-family: 'museoSans bold';
    font-size: 1.75em;
    color: var(--primaryColor);
}
.code-form input{
    font-size: 2.25em;
    width: 100%;
    border-radius: 25rem;
    border: none;
    background: white;
    border: 2px solid var(--primaryColor);
    padding: 0.4em 1.4em;
    text-align: center;
    color: var(--primaryColor);
}
.join-btn{
    font-size: 2.25em;
    background: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    background: var(--primaryColor);
    isolation: isolate;
    position: relative;
    z-index: 1;
    color: white;
}
.join-btn::before{
    content: "Join";
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    border: 2px solid var(--primaryColor);
    top: -5%;
    left: 3%;
    z-index: 5;
    height: 100%;
    width: 100%;
    border-radius: 25rem;
}
.color-bg{
    background-color: var( --primaryColor);
}
.color-bg header{
    box-shadow: unset;
}
.color-bg h4{
    color: white;
}
.color-bg label{
    color: white;
}
.color-bg .join-btn{
    color: var(--primaryColor);
    background-color: white;
}
.color-bg .join-btn::before{
    color: white;
    border-color: white;
    background-color: var(--primaryColor);
}
.game-container{
    background: #F5F5F5;
    border-radius: 2.25em 0 2.25em 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
    padding: 3em 2em;
}
.game-time{
    font-size: 2.25em;
    color: var(--primaryColor);
    text-align: center;
}
.group-row{
    border-radius: 1.75em 0 1.75em 0;
    padding: 0.75em 2em;
    color: #414141;
    text-align: center;
    box-shadow: 1px 3px 4px rgba(0, 47, 46, 0.15) inset;
}
.group-row h5{
    color: #414141;
    font-family: 'museoSans bold';
    font-weight: 900;
    margin: 0;
}
.group-row p{
    margin: 0;
    font-size: 1.15em;
}
.game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 1.55em;
    column-gap: 0.5em;
}
.game span{
    aspect-ratio: 1/0.75;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    color: var(--primaryColor);
    font-family: 'museoSans bold';
    box-shadow: 1px 3px 4px rgba(0, 47, 46, 0.15) inset;
    border-radius: 1.55em 0 1.55em 0;
    width: 100%;
    background-color: white;
    transition: all .3s;
    cursor: pointer;
}
.game span.selected{
    background-color: var(--primaryColor);
    color: white;
}
.game-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
    margin-top: 2em;
}
.game-btns button{
    font-size: 1.25em;
    background: white;
    border-radius: 25rem;
    padding: 0.4em 1.4em;
    font-family: 'museoSans bold';
    border: none;
    background: var(--primaryColor);
    isolation: isolate;
    position: relative;
    z-index: 1;
    color: white;
}
.game-btns button::before{
    content: "Deselect All";
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    position: absolute;
    border: 2px solid var(--primaryColor);
    top: -5%;
    left: 3%;
    z-index: 5;
    height: 100%;
    width: 100%;
    border-radius: 25rem;
}
.game-btns .submit-btn::before{
    content: 'Submit';
}
.hint-box h4:first-child{
    font-family: 'museoSans bold';
}
.timer-container{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--primaryColor);
    border-radius: 3em 0 3em 0;
    margin-top: 2.25em;
}
.main-time{
    color: var(--primaryColor);
    font-size: 6.25em;
    text-align: center;
}
.leaderboard-desktop{
    padding: 2em;
    border: 3px solid var(--primaryColor);
    border-radius: 3em 0 3em 0;
    margin-top: 2.25em;
}
.leaderboard-desktop table{
    width: 100%;
    border-radius: 2em 2em 0 0;
    overflow: hidden;
}
.leaderboard-desktop table tr{
    border-bottom: 2px solid var(--primaryColor);
}
.leaderboard-desktop table td{
    font-size: 1.85em;
    color: var(--primaryColor);
    padding: 0.75em;
    border: none;
    text-align: center;
}
.leaderboard-desktop table td:nth-child(2){
    width: 35%;
    text-align: left;
}
.leaderboard-desktop table tr:first-child{
    background: linear-gradient(75deg, #763F98, #20419A, #00A19C, #BFD730, #FDB924);
    border: none;
}
.leaderboard-desktop table tr:first-child td{
    color: white;
    font-family: 'museoSans bold';
    font-size: 2.25em;
}
.configure-page h4{
    font-size: 2.0625em;
    font-family: 'museoSans bold';
}
.edit-text-container{
    border: 2px solid var(--primaryColor);
    padding: 1.25em 2.125em 1.25em 3.125em;
    border-radius: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.edit-text-container input{
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primaryColor);
    font-size: 1.5625em;
    width: calc(100% - 3.0625em);
}
.edit-text-container label{
    width: 2.0625em;
    cursor: pointer;
}
.connections-text-container{
    padding: 1.375em;
    box-shadow: unset;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
    border-radius: 1.5625em 0 1.5625em 0;
}
.connections-text-container h4{
    color: white;
    text-align: center;
}
.all-edit-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.875em;
}
.connections-text-container .edit-text-container{
    padding: 0.625em 1.5625em;
}
.connections-text-container .edit-text-container img{
    width: 1.75em;
}
.connections-text-container .edit-text-container input{
    width: calc(100% - 2.75em);
}
.social{
    background-color: #FDB924;
}
.governance{
    background-color: #763F98;
}
.governance h5{
    color: white;
}
.environment{
    background-color: #BFD730;
}
.economy{
    background-color: #20419A;
}
.leaderboard-container{
    background: #F5F5F5;
    border-radius: 2.25em 0 2.25em 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
    padding: 1.75em;
}
.leaderboard-heading{
    font-size: 2.0825em;
    color: white;
    text-align: center;
    font-family: 'museoSans bold';
    padding: 0.45em;
    background-color: var(--primaryColor);
    border-radius: 1.75em 0 1.75em 0;
}
.leaderboard-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 0.75em 1.4em;
    border-top: 2px solid var(--primaryColor);
}
.leaderboard-row:first-child{
    border: none;
}
.leaderboard-row:last-child{
    border-bottom: 2px solid var(--primaryColor);
}
.leaderboard-data{
    margin-top: 0.5em;
    
}
.leaderboard-row div{
    color: var(--primaryColor);
    font-size: 1.5em;
}
.leaderboard-row div:last-child{
    text-align: end;
}
.leaderboard-row.active{
    background: linear-gradient(75deg, #763F98, #20419A, #00A19C, #BFD730, #FDB924);
    border-radius: 1.75em 0 1.75em 0;
    border: none;
}
.leaderboard-row.active +.leaderboard-row{
    border: none;
}
.leaderboard-row.active div{
    color: white;
    font-size: 2em;
    font-family: 'museoSans bold';
}
.memory-game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 0.85em;
    column-gap: 0.4125em;
}
.memory-card{
    border: 1px solid var(--primaryColor);
    border-radius: 0.85em 0 0.85em 0;
    width: 100%;
    overflow: hidden;
}
.memory-card-inner {
    aspect-ratio: 1.21 / 1;
    transition: transform .5s;
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}
.front-face {
    position: absolute;
    backface-visibility: hidden;
    aspect-ratio: 1.21 / 1;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    box-shadow: 1px 3px 4px rgba(0, 47, 46, 0.15) inset;
}
.back-face {
    border-radius: 8px;
    transform: rotateX(180deg);
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    left: 0;
    top: 0;
    aspect-ratio: 1.21 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.memory-card-inner.flip {
    transform: rotateX(180deg);
}
.back-face img{
    height: 60%;
}
@media (min-width: 992px) {
    .order-lg-6 {
        order: 6 !important;
    }
}
@media (max-width: 1200px) {
    body{
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    body{
        font-size: 12px;
    }
    .order-lg-6 {
        order: 6 !important;
    }
    header{
        padding: 1.25em 1.625em;
    }
}